<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_128"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_128"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecipeGenerator"
        tools:targetApi="31">
        <activity
            android:name=".Favourites"
            android:exported="true"
            android:label="@string/title_activity_favourites"
            android:theme="@style/Theme.RecipeGenerator" />
        <activity
            android:name=".ShoppingList"
            android:exported="true"
            android:label="@string/title_activity_shopping_list"
            android:theme="@style/Theme.RecipeGenerator" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FoodScanner"
            android:exported="true" />
        <activity
            android:name=".GroceriesListActivity"
            android:exported="true" />
        <activity
            android:name=".GroceriesOperationsActivity"
            android:exported="true" />
        <activity
            android:name=".MainMenuActivity"
            android:exported="true" />
        <activity
            android:name=".RecipeDetailActivity"
            android:exported="true" />
        <activity android:name=".EditRecipeActivity"
            android:exported="true"/>
    </application>

</manifest>